{% load static %}

<html>
<head>
    <title>syk.</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <h1 style="padding: 13;">Halo, Apa Kabar?</h1>
        <form class="d-flex flex-column my-2 w-75" method="POST" action=".">
            <div class="container">
                <div class="row">
                    {% csrf_token %}
                    {% for x in form_status %}
                    <div class="col-6">
                        <p id="status">{{ x }}</p>
                    </div>
                    <div>
                        <button id= "tombol" class="btn" type="submit" style="background-color:darkred; color: white;">Kirim</button>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </form>
    </header>
    <section style="padding: 13;">
        <h2 class="text-center" style="background: darkred; color: white;">Daftar Status</h2>
        {% for mod in data %}
        <h4>{{ mod.status }}</h4>
        <p>{{ mod.time }}</p>
        {% endfor %}
    </section>
</body> 

</html>